html {
    background-color: #222222;
    font-family: "Roboto", sans-serif;
    color: white;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

hr {
    color: white;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

#leaves-bg {
    /* left: 0px;
    position: fixed; 
    min-width: 100%;
    min-height: 100vh;
    max-height: 125%; 
    opacity: 20%;
    
    overflow-x: hidden;
    pointer-events: none; */

    left: 0px;
    background-image: url('../images/leaves.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 15%;
    z-index: -1;
}

body {
    margin-top: unset;
    margin-left: 15%;
    margin-right: 15%;
}

header {
    /* height: 50px;
    padding-top: 5px;
    text-align: center;
    display: block;
    */
    height: 60px;
    background-color: transparent;
    top: 0px;
    position: sticky;
    align-items: center;
    padding-top: 5px;
}

/* #header-name {
    display: inline-block;
    padding-bottom: 5px;
    margin-left: 20%;
    margin-right: 15%;
    border: none;
}

#header-name h2 {
    margin: 0;
} */

#header-links {
    text-align: center;
}

#header-links div {
    display: inline-flex;
    padding: 10px 20px;
    /* margin: 0px 15px; */
}

/* header a text {
    display: inline-flex;
}  */

#header-links div:hover {
    color: rgb(225, 225, 225);
    cursor: pointer;
}

#header-links div:active {
    color: rgb(200, 200, 200);
    cursor: pointer;
}

#header-links div:link, div:visited {
    color: white;
    text-decoration: none;
}

#main {
    /* padding-top: 500px; */
    display: inline-block;
}

#profile-section {
    /* margin: 0px 25px 0px 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

#profile-section-table {
    margin-left: auto;
    margin-right: auto;
}

#profile-info-td-rainbow {
    padding: 25px;
    /* display: inline-flex; */
    align-items: center;
}

/* #profile-info-td-badge {
    width: 303.2px;
    padding: 25px;
    display: inline-flex;
} */

.glow-badge {
    width: 50px;
    height: 50px;
}

#profile-topic {
    /* this is just so it maxes out all the time */
    /* position: absolute; */
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

#profile-topic div {
    display: block;
    min-width: 175px;
    /* margin: 25px; */
    padding: 10% 25px;
}

#profile-topic div:hover {
    color: rgb(225, 225, 225);
    cursor: pointer;
}

#profile-topic div:active {
    color: rgb(200, 200, 200);
    cursor: pointer;
}

#profile-topic div:link, div:visited {
    color: white;
    text-decoration: none;
}

@keyframes fadeInColour {
    from {
        color: white;
    }
    to {
        color: #7cb2db
;
    }
}

/* Custom fadeIn for leaves-bg since I changed it to a div 🙄 */
@keyframes fadeInBg {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.15;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

/* #profile-info-td-image img {
    height: 250px;
    margin-right: 25px;
    border-radius: 50%;
    text-align: center;
    border-style: dotted;
} */

*, *::before, *::after {
	box-sizing: border-box;
}

.rainbow-border {
	position: relative;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	overflow: hidden;
	padding: 2rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#e60012, #e60012), linear-gradient(#0068b7, #0068b7), linear-gradient(#ef6772, #ef6772), linear-gradient(#94c6ed, #94c6ed);
		animation: rotate 10s linear infinite;
	    border-radius: 50%;

	}
	
	&::after {
		content: '';
		/* position: absolute; */
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 50%;
	}
}

#rainbow-profile {
    width: 290px;
	height: 290px;
	border-radius: 50%;
    z-index: -1;
}

#profile-info-td-title {
    margin-top: -10px;
    /* margin-bottom: -10px; */
}

#profile-info-td-title-fn {
    color: #7cb2db;
}

#profile-info-td-text p {
    text-align: justify;
}

.topic-hr {
    border-style: dotted;
}

#profile-education-td-bullet {
    margin: 12.5px;
}

#contact-section {
    min-height: 400px;
}

footer {
    text-align: center;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0px;
    background-color: transparent;
}

#footer-hr {
    width: 1064px;
    margin-top: 10px;
}

/* for debugging */
/* table { 
    border: 2px solid white;
} 

table tr, td {
    border: 2px solid white;
} */