html {
    background-color: #222222;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: white;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html h1, h2, h3, h4 {
    font-weight: 400;
}

hr {
    color: white;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

#leaves-bg {
    /* left: 0px;
    position: fixed; 
    min-width: 100%;
    min-height: 100vh;
    max-height: 125%; 
    opacity: 20%;
    
    overflow-x: hidden;
    pointer-events: none; */

    left: 0px;
    background-image: url('../images/leaves.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 20%;
    z-index: -1;
    filter: blur(2px)
}

body {
    margin-top: unset;
    margin-left: 15%;
    margin-right: 15%;
}

header {
    position: relative;
    height: 45px;
    background-color: transparent;
    top: 0px;
    align-items: center;
    opacity: 0.1;
    padding-top: 5px;
    padding-bottom: 30px;
    text-align: center;
    z-index: 1000;
}

#header:hover {
    opacity: 1;
}

#header-links div {
    display: inline-flex;
    padding: 10px 20px;
    /* margin: 0px 15px; */
}

/* header a text {
    display: inline-flex;
}  */

#header-links div:hover {
    color: rgb(225, 225, 225);
    cursor: pointer;
}

#header-links div:active {
    color: rgb(200, 200, 200);
    cursor: pointer;
}

#header-links div:link, div:visited {
    color: white;
    text-decoration: none;
}

#main {
    /* padding-top: 500px; */
    display: inline-block;
}

#profile-section {
    /* margin: 0px 25px 0px 25px; */
    display: flex;
    justify-content: center; /* todo: change this so only certain pages are center */
    align-items: center;
    height: 80vh;
    margin: 0;
}

#profile-section h3 {
    margin-top: 0;
}

#profile-section-table tr p {
    margin: 0;
}

#profile-section-table tr hr {
    margin-top: 20px;   
    margin-bottom: 20px;   
}

#profile-section-content-4 td {
    display: block;
}

#project-scroll {
    max-height: 405px; /* Adjust height as needed */
    overflow-y: auto;  /* Vertical scroll */
    overflow-x: hidden; /* Prevent horizontal scroll if desired */
    display: block;    /* Ensure the div respects dimensions */
    padding-left: 50px;
    padding-right: 50px;
}

#project-scroll::-webkit-scrollbar { 
    display: none;
}

#project-scroll-arrow {
    margin-top: 10px;
    text-align: center;
    opacity: 0.1;
}

.project-info {
    width: 375px;
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
    padding-bottom: 15px;
    filter: none;
}

.project-wrapper {
    text-decoration: none;
}

/* on hover, change child img element (.project-preview) */
.project-wrapper:hover .project-preview {
    filter: grayscale(0%);
}

.project-wrapper:active .project-preview {
    filter: grayscale(0%);
}

.project-preview {
    display: inline-block;
    filter: grayscale(100%);
    transition: filter 0.25s ease-in-out; 
}

.project-preview img {
    max-height: 150px;
    border: 1px solid white;
}

#profile-info-td-rainbow {
    margin-top: 10px;
    margin-right: 42px;
    display: inline-flex;
    align-items: center;
}   

.glow-badge {
    width: 50px;
    height: 50px;
}

#profile-topic {
    /* this is just so it maxes out all the time */
    /* position: absolute; */
    /* padding-left: 50px; */
    padding-right: 50px;
    text-align: left;
    /* border-left: 1px solid white; */
}

#profile-info-td-text h2 {
    font-weight: 350;
}

/* messy. fix later? */
#profile-topic-content-1 td {
    width: 600px;
}

#profile-topic-content-2 td {
    width: 600px;
}

#profile-topic-content-3 h4 {
    margin: 0;
}

#profile-topic-content-3 td {
    width: 600px;
}

#profile-topic-content-4 td {
    width: 600px;
}



#profile-topic div {
    display: block;
    min-width: 175px;
    /* margin: 25px; */
    padding: 10% 15px;
}

#profile-topic div:hover {
    color: rgb(225, 225, 225);
    cursor: pointer;
}

#profile-topic div:active {
    color: rgb(200, 200, 200);
    cursor: pointer;
}

#profile-topic div:link, div:visited {
    color: white;
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeInDelay {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeInHeader {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
    
}

@keyframes fadeOutHeader {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}

@keyframes fadeInColour {
    from {
        color: white;
    }
    to {
        color: #7cb2db
;
    }
}

@keyframes fadeInColourDelay {
    from {
        color: white;
    }
    to {
        color: white;
;
    }
}

/* Custom fadeIn for leaves-bg since I changed it to a div 🙄 */
@keyframes fadeInBg {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.20;
    }
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes slideInRightFade {
    /* Start state (from) */
    from {
        /* Move the element 100% of the viewport width to the right,
           effectively placing it off-screen */
        transform: translateX(100vw);
        /* Start with zero opacity (transparent) */
        opacity: 0;
    }
    /* End state (to) */
    to {
        /* Move the element back to its original position */
        transform: translateX(0);
        /* End with full opacity (visible) */
        opacity: 1;
    }
}

/* #profile-info-td-image img {
    height: 250px;
    margin-right: 25px;
    border-radius: 50%;
    text-align: center;
    border-style: dotted;
} */

*, *::before, *::after {
	box-sizing: border-box;
}

.rainbow-border {
	position: relative;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	overflow: hidden;
	padding: 2rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		/* background-color: #399953; */
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#e60012, #e60012), linear-gradient(#0068b7, #0068b7), linear-gradient(#ef6772, #ef6772), linear-gradient(#94c6ed, #94c6ed);
		animation: rotate 50s linear infinite;
	    border-radius: 50%;

	}
	
	&::after {
		content: '';
		/* position: absolute; */
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 50%;
	}
}

#rainbow-profile {
    width: 290px;
	height: 290px;
	border-radius: 50%;
    z-index: -1;
}

#profile-info-td-title {
    margin-top: -10px;
    /* margin-bottom: -10px; */
}

#profile-info-td-title-fn {
    color: #7cb2db;
}

#reload-btn {
    cursor: pointer;
}

.topic-hr {
    margin-top: 20px;   
    margin-bottom: 20px;   
    border-style: dotted;
}

#profile-education-td-bullet {
    margin: 12.5px;
}

#contact-section {
    min-height: 400px;
}

footer {
    text-align: center;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0px;
    background-color: transparent;
}

#footer-hr {
    width: 1064px;
    margin-top: 10px;
}

/* for debugging */
/* table { 
    border: 2px solid rgb(255, 0, 0);
} 

table td {
    border: 2px solid white;
} */