body {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center;     /* Centers content vertically */
    height: 100vh;           /* Ensures body takes the full viewport height */
    margin: 0; 
}

header {
    margin-bottom: 25px;
}

#game-wrapper {
    min-width: 75%;
    min-height: 95%;
    border: solid 1px black;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.location {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center;
}

.flexbox {
    min-width: 75%;
    display: inline-flex; /* Makes the children sit side by side */
    gap: 20px; /* Adds space between the divs */
    justify-content: center;
}

.stats {
    align-content: center;
    padding: 5px;
}

.stats h3 {
    margin: 0;
}

.navigation {
    align-content: center;
    padding: 5px;
}

.navigation p {
    margin: 5px;
}

.content-wrapper {
    align-items: center;
}

/* for debugging */
div {
    border: 1px solid;
    margin: 1px;
}